*{
    margin: 0;
    padding: 0;
   
    font-family:sans-serif ;
}
html,body{
    background-color: rgb(133, 176, 213);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

}
.stopwatch{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 24px;
    border-radius: 100px;

    /* display: flex;
    justify-content: center;
    align-items: center;  */
}

.timerDisplay{
    font-size: 50px;
    font-weight:600;
   
    
}
.buttons{
    margin-top: 20px;
}

.btn{
    font-size: 20px;
    background-color: none;
    border: none;
    color: white;
    padding: 12px 24px;
    background-color: var(--clr);
    margin-inline: 12px;
    cursor: pointer;
    border-radius: 8px;
}